/*=================================
    INVERSIONES
==================================*/
.btn-nueva{
    background:#4f46e5;
    color:white;

    border:none;
    border-radius:12px;

    padding:12px 20px;
    cursor:pointer;

    font-weight:600;
}

.graficas-grid{

    display:grid;

    grid-template-columns:
        1fr 1fr 1fr;

    gap:20px;

    margin-bottom:30px;
}

.grafica-contenedor{

    height:250px;
}

.card{
    opacity: 0;
    transform: translateY(20px);
    animation: aparecerCard .6s ease forwards;
}

.card:nth-child(1){
    animation-delay: .1s;
}

.card:nth-child(2){
    animation-delay: .2s;
}

.card:nth-child(3){
    animation-delay: .3s;
}

.card:nth-child(4){
    animation-delay: .4s;
}

@keyframes aparecerCard{

    from{
        opacity:0;
        transform:translateY(20px);
    }

    to{
        opacity:1;
        transform:translateY(0);
    }

}