/*Aqui estaran todos los componentes generales */

/* ==========================
   Transiciones globales
========================== */

body,
.card,
.config-card,
.sidebar,
button,
input,
select,
.contenido,
.grafica-panel,
.tabla-productos,
.tabla-reportes,
.tabla-reservas,
.tabla-inversiones{

    transition:
        background .35s ease,
        color .35s ease,
        border-color .35s ease,
        box-shadow .35s ease;

}
/* =========================
   RESET
========================= */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Segoe UI',sans-serif;
    background: var(--background);
    color: var(--text);
}

/*==========================
    VARIABLES
==========================*/

:root{

    --primary:#4f46e5;
    --primary-hover:#4338ca;

    --background:#f1f5f9;
    --surface:#ffffff;
    --surface-hover:#f8fafc;

    --text:#1e293b;
    --text-light:#64748b;

    --border:#e2e8f0;

    --success:#16a34a;
    --warning:#f59e0b;
    --danger:#ef4444;

    --shadow:0 10px 30px rgba(0,0,0,.06);

}

/* =========================
   LAYOUT
========================= */

.layout{
    display:flex;
    min-height:100vh;
}

/* =========================
   SIDEBAR
========================= */

.sidebar{
    width:270px;
    background:linear-gradient(
        180deg,
        #0f172a,
        #1e293b
    );

    color:white;

    position:fixed;

    top:0;
    left:0;
    bottom:0;

    padding:30px 20px;
}

.logo{
    font-size:24px;
    font-weight:700;
    margin-bottom:40px;
}

.sidebar ul{
    list-style:none;
}

.sidebar li{
    padding:14px 18px;
    margin-bottom:10px;
    border-radius:12px;
    cursor:pointer;
    transition:.3s;
}

.sidebar li:hover{
    background:rgba(
        255,
        255,
        255,
        .1
    );
}

.sidebar a{
    text-decoration:none;
    color:inherit;
    display:block;
    width:100%;
}


.activo{
    background:var(--primary);;
}

/* =========================
   CONTENIDO
========================= */

.contenido{
    margin-left:270px;
    width:100%;
    padding:30px;
}

/* =========================
   NAVBAR
========================= */

.navbar{
    background:var(--surface);;

    border-radius:20px;

    padding:20px 25px;

    display:flex;
    justify-content:space-between;
    align-items:center;

    margin-bottom:30px;

    box-shadow:
        0 8px 24px
        rgba(0,0,0,.05);
}

.navbar h2{
    font-size:28px;
}

/* =========================
   INPUTS
========================= */

input{
    border:none;

    background:var(--surface-hover);

    border:1px solid var(--border);

    border-radius:12px;

    padding:14px;

    font-size:15px;

    transition:.3s;
}

input:focus{
    outline:none;

    border-color:var(--primary);

    box-shadow:
        0 0 0 4px
        rgba(79,70,229,.15);
}

#busqueda{
    width:320px;
}

/* =========================
   DASHBOARD
========================= */

.dashboard{

    display:grid;

    grid-template-columns:
        repeat(
            auto-fit,
            minmax(240px,1fr)
        );

    gap:25px;

    margin-bottom:30px;
}

.grafica-panel{
    flex: 1;

    background: white;
    padding: 30px;
    border-radius: 24px;

    box-shadow:
        0 10px 30px
        rgba(0,0,0,.06);
}

.grafica-contenedor{
    width:100%;
    height:150px;
}

.graficas-grid{
    display: flex;
    gap: 30px;
    width: 100%;
    margin-bottom: 30px;
}

.grafica-panel h3{
    margin-bottom: 20px;
}

.card{

    background:var(--surface);

    border-radius:24px;

    padding:30px;

    text-align:center;

    box-shadow:
        0 10px 30px
        rgba(0,0,0,.06);

    transition:.3s;
}


.card:hover{
    transform:
        translateY(-6px);
}

.card h3{
    color:var(--text-light);
    margin-bottom:15px;
}

.card p{
    font-size:32px;
    font-weight:700;
    color:var(--primary);
    word-break:break-word;
    overflow-wrap:break-word;
}

/* =========================
   PANEL
========================= */

.panel{
    background:var(--surface);

    border-radius:24px;

    padding:30px;

    margin-bottom:25px;

    box-shadow:var(--shadow);
}

.panel h3{
    margin-bottom:20px;
}

/* =========================
   FORMULARIO
========================= */

.formulario{

    display:grid;

    grid-template-columns:
        repeat(
            auto-fit,
            minmax(200px,1fr)
        );

    gap:15px;
}

/* =========================
   BOTONES
========================= */

button{

    border:none;

    background:var(--primary);

    color:white;

    padding:14px 18px;

    border-radius:12px;

    cursor:pointer;

    font-weight:600;

    transition:.3s;
}

button:hover{

    transform:
        translateY(-2px);

    box-shadow:
        0 8px 20px
        rgba(79,70,229,.35);
}

#btn-excel{
    margin-bottom:25px;
}

/* =========================
   TABLA
========================= */

.tabla-container{

    background:var(--surface);

    border-radius:24px;

    overflow-x:auto;
    overflow-y:hidden;

    box-shadow:
        0 10px 30px
        rgba(0,0,0,.06);
}

/* Tabla principal */

table{

    width:100%;

    min-width:1100px;

    border-collapse:collapse;

    table-layout:fixed;
}

/* =========================
   ENCABEZADO
========================= */

th{

    background:var(--primary);

    color:white;

    padding:18px 10px;

    text-align:center;

    font-size:14px;

    font-weight:700;

    white-space:nowrap;
}

/* =========================
   CELDAS
========================= */

td{

    padding:18px 10px;

    text-align:center;

    border-bottom:
        1px solid var(--border);

    font-size:14px;

    overflow:hidden;

    text-overflow:ellipsis;

    white-space:nowrap;
}

/* =========================
   ANCHO DE CADA COLUMNA
========================= */

/* Producto */
th:nth-child(1),
td:nth-child(1){
    width:14%;
}

/* Categoría */
th:nth-child(2),
td:nth-child(2){
    width:13%;
}

/* Cantidad */
th:nth-child(3),
td:nth-child(3){
    width:9%;
}

/* Precio unitario */
th:nth-child(4),
td:nth-child(4){
    width:12%;
}

/* Precio total */
th:nth-child(5),
td:nth-child(5){
    width:12%;
}

/* Tipo de inversión */
th:nth-child(6),
td:nth-child(6){
    width:13%;
}

/* Productos vendidos */
th:nth-child(7),
td:nth-child(7){
    width:11%;
}

/* Estado */
th:nth-child(8),
td:nth-child(8){
    width:9%;
}

/* Acciones */
th:nth-child(9),
td:nth-child(9){
    width:14%;
}

/* =========================
   HOVER
========================= */

tr:hover{
    background:#f8fafc;
}

/* =========================
   INPUTS DENTRO DE LA TABLA
========================= */

td input{

    width:100%;

    max-width:150px;

    padding:10px;

    border:1px solid var(--border);

    border-radius:10px;

    background:var(--surface-hover);

    text-align:center;

    font-size:14px;
}

td input:focus{

    outline:none;

    border-color:var(--primary);

    box-shadow:
        0 0 0 3px
        rgba(79,70,229,.12);
}

/* =========================
   BOTONES DE ACCIONES
========================= */

td button{

    padding:9px 12px;

    margin:2px;

    border-radius:10px;

    font-size:13px;
}

/* =========================
   ESTADOS
========================= */

.stock-ok{

    color:var(--success);

    font-weight:700;
}

.stock-bajo{

    color:var(--warning);

    font-weight:700;
}

.stock-sin{

    color:var(--danger);

    font-weight:600;
}


/* =========================
   ESTADOS
========================= */

.stock-ok{
    color:var(--success);
    font-weight:700;
}

.stock-bajo{
    color:var(--warning);
    font-weight:700;
}

.stock-sin{
    color:var(--danger);;
    font-weight:600;
}

/* =========================
   RESPONSIVE
========================= */

@media(max-width:900px){

    .sidebar{
        display:none;
    }

    .contenido{
        margin-left:0;
    }

    .navbar{
        flex-direction:column;
        gap:15px;
    }

    #busqueda{
        width:100%;
    }

}

input,
select{
        border: none;
        background: #f1f5f9;;
        border: 1px solid  #e2e8f0;
        border-radius: 12px;
        padding: 14px;
        font-size: 15px;
    }

.categoria-card:nth-child(4) p{
    color:#2563eb;
}

.categoria-card:nth-child(5) p{
    color:#ea580c;
}

.categoria-card:nth-child(6) p{
    color:#16a34a;
}

.estado-stock-container{
    display:flex;
    align-items: flex-start;
    justify-content:center;
    gap:30px;
    height:100%;
}

.estado-resumen{
    display:flex;
    flex-direction:column;
    gap:25px;
    min-width:180px;
}

.estado-item{
    display:flex;
    justify-content:space-between;
    align-items:center;

    font-size:18px;
    font-weight:600;
}

.estado-item span{
    color:#4f46e5;
    font-size:32px;
    font-weight:700;
}

/*==========================
    TOAST
==========================*/

#toast{
    position:fixed;
    top:25px;
    right:25px;

    background:var(--primary);
    color:white;

    padding:15px 25px;

    border-radius:12px;

    font-size:15px;

    box-shadow:0 10px 25px rgba(0,0,0,.15);

    opacity:0;

    transform:translateY(-20px);

    transition:.35s;

    z-index:9999;
}

#toast.mostrar{
    opacity:1;
    transform:translateY(0);
}

.toast-success{
    background:var(--success);
}

.toast-error{
    background:var(--warning);
}

.toast-warning{
    background:var(--danger);
}

/*==========================
    MODAL
==========================*/
.modal{
    display:none;

    position:fixed;

    top:0;
    left:0;

    width:100%;
    height:100%;

    background:
        rgba(0,0,0,.5);

    justify-content:center;
    align-items:center;
}

.modal-content{

    background:var(--surface);

    padding:30px;

    border-radius:20px;

    width:400px;

    display:flex;
    flex-direction:column;
    gap:15px;
}

.modal-content button{

    background:#4f46e5;

    color:white;

    border:none;

    padding:12px;

    border-radius:10px;

    cursor:pointer;
}

body.dark .modal-content{

    color:white;
    background:#243046;

    padding:30px;

    border-radius:20px;

    width:400px;

    display:flex;
    flex-direction:column;
    gap:15px;
}

body.dark .modal-content input{

    background:#334155;
    color:white;

    padding:12px;

    border:1px solid #ddd;

    border-radius:10px;
}
