.btn-nuevo{

    background:#4f46e5;

    color:white;

    border:none;

    padding:12px 22px;

    border-radius:12px;

    cursor:pointer;

    font-weight:600;

}

body.dark .modal-content{

    color:white;
    background:#243046;

    padding:30px;

    border-radius:20px;

    width:400px;

    display:flex;
    flex-direction:column;
    gap:15px;
}

body.dark .modal-content input{

    background:#334155;
    color:white;

    padding:12px;

    border:1px solid #ddd;

    border-radius:10px;
}

.modal-content button{

    background:#4f46e5;

    color:white;

    border:none;

    padding:12px;

    border-radius:10px;

    cursor:pointer;
}

.sidebar a{
    text-decoration:none;
    color:inherit;
    display:block;
    width:100%;
}

.sidebar li{
    cursor:pointer;
}

.barra-herramientas{
    display:flex;
    gap:15px;
    justify-content: flex-end;
    align-items: center;
    margin: 20px 0;
}

.tabla-header{

    display:flex;

    justify-content:space-between;

    align-items:center;

    margin-bottom:20px;

    padding:0 10px;

}

.tabla-header h3{

    margin:0;

    color:#1f2937;

    font-size:24px;

}

body.dark #busqueda,
body.dark #filtro-categoria{

    padding:14px 120px;

    border:none;

    border-radius:16px;

    background:#334155;
    color:white;
    border:1px solid #475569;
    box-shadow:none;

    font-size:16px;

    outline:none;

    box-shadow:0 5px 15px rgba(0,0,0,.08);

}

#busqueda{
    width:420px;

    height:48px;

    font-size:16px;
}

#filtro-categoria{
    width:420px;

    height:48px;

    font-size:16px;

}