body {
    font-family: Arial, sans-serif;
    background: #f4f6f9;
    margin: 0px;
    padding: 40px;
}

h1{
    text-align:center;
    color: #333;
    margin-bottom: 5px;
}

.subtitulo{
    text-align: center;
    color: gray;
    margin-bottom: 30px;
}

.formulario{
    display:flex;
    gap: 10px;
    justify-content: center;
    margin-bottom: 20px;
}

input{
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 180px;
}

#busqueda{
    display: block;
    margin: auto;
    margin-bottom: 25px;
    width: 350;
}

button{
    padding: 10px 14px;
    border: none;
    border-radius: 8px;
    background:  #4f46e5;
    color: white;
    cursor: pointer; /*Cambia el cursor a una mano cuando pasas sobre el botón. */
    transition: 0.2s;
}

/*cambia la apariencia del cursor */
button:hover{
    transform: scale(1.05);
}

table{
    width: 100%;
    border-collapse: collapse; /*evita bordes dobles*/
    background: white;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
}

th{
    /* th: encabezados
    td: celdas normales */
    background:  #4f46e5;
    color: white;
    padding: 14px;
}

td{
    /* th: encabezados
    td: celdas normales */
    padding: 14px;
    text-align: center;
    border-bottom: 1px solid #eee;
}

/*Ayuda a que el usuario no se pierda entre tantas lineas, poniendo color*/
tr:hover{
     background: #f8f9ff;
}

.stock-bajo {
    color: red;
    font-weight: bold;
}

.stock-ok {
    color: green;
    font-weight: bold;
}

/* gap: sirve para hacer la separación entre filas y columnas*/
/* flex-wrap: organiza el espacio, de forma que si algo no cabe 
en una sola linea , lo pone abajo */
.dashboard{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 60px;
    flex-wrap: wrap;
}

.card{
    background: white;
    width: 220px;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.card h3{
    color: #666;
    margin-bottom: 10px;
}

.card{
    font-size: 28px;
    font-weight: bold;
    color: #4f46e5;
}